body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 222, 173);
  padding: 0;
  margin: 0;
}

header {
  background: rgb(139, 69, 19);
  color: black;
  text-align: center;
  margin: 0 0 30px;
}

.chessboard {
  margin: 0 auto;
  width: 640px;
  height: 640px;
  text-align: center;
  border: 15px solid rgb(113, 77, 56);
  font-size: 0;
  padding: 0;
}

.dark {
  width: 80px;
  height: 80px;
  background-color: rgb(113, 77, 56);
  display: table-cell;
  vertical-align: baseline;
  border: 5px solid rgb(113, 77, 56);
}

.light {
  width: 80px;
  height: 80px;
  background-color: rgb(239, 221, 180);
  display: table-cell;
  vertical-align: baseline;
  border: 5px solid rgb(239, 221, 180);
}

#check,
#refresh {
  display: block;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  width: 120px;
  background: rgb(113, 77, 56);
  color: white;
  border-radius: 7px;
  text-align: center;
  position: relative;
}

#check {
  margin: auto;
  margin-top: 25px;
  float: left;
}

#refresh {
  margin: auto;
  margin-top: 25px;
  float: right;
}

#check:hover,
#refresh:hover {
  background: rgb(139, 69, 19);
}

.alerts {
  display: inline;
}

#alert {
  display: block;
  font-size: 18px;
  color: rgb(0, 128, 0);
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: oblique;
}

#alerterror {
  display: block;
  font-size: 18px;
  color: red;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  font-style: italic;
}
